/* 
1. Universal Styles
2. Page Styles
3. Component & Section Styles
*/

/* ======= 1. Universal Styles ======= */

:root {
  /*Celcom Primary Colours*/
  --celcom-blue: rgb(0, 155, 223);
  --celcom-purple: rgb(121, 54, 128);

  /* Celcom Secondary Colours */
  --celcom-secondary-blue: rgb(22, 67, 150);
  --celcom-secondary-red: rgb(196, 13, 66);
  --celcom-secondary-gold: rgb(253, 185, 52);
  --celcom-secondary-orange: rgb(247, 148, 30);
  --celcom-secondary-red-orange: rgb(241, 90, 34);
  --celcom-secondary-purple: rgb(123, 27, 103);
  --celcom-secondary-magenta: rgb(238, 62, 128);

  /*Celcom Neutral Palette*/
  --celcom-neutral-white: rgb(255, 255, 255);
  --celcom-neutral-5pct-black: rgb(243, 243, 243);
  --celcom-neutral-10pct-black: rgb(230, 230, 230);
  --celcom-neutral-20pct-black: rgb(204, 204, 204);
  --celcom-neutral-40pct-black: rgb(153, 153, 153);
  --celcom-neutral-60pct-black: rgb(102, 102, 102);
  --celcom-neutral-70pct-black: rgb(75, 75, 75);
  --celcom-neutral-80pct-black: rgb(51, 51, 51);

  /*Celcom Gradient Colours */
  --celcom-gradient-1: linear-gradient(90deg, rgb(121, 54, 128) 0%, rgb(0, 155, 223) 100%);
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Lato;
    width: 100vw;
    overflow-x: hidden;
  }

*,
*:before,
*:after {
    box-sizing: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
  }

/* ======= 2. Page Styles ======= */


/* ======= 3. Component & Section Styles ======= */

/* Navbar Section */
#fixed-navbar {
  position: fixed;
  top: 0;
  height: 3.8rem;
  z-index: 100;
  box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 60%, 0.75);
}

#navbar-first-row {
  display: none;
}

#navbar-second-row {
  width: 100vw;
  height: 100%;
  padding: 0.8rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
}

#logo_anchors-area {
  width: auto;
  height: 100%;
  margin-left: 2vw;
}

#logo-subarea {
  width: auto;
  height: 100%;
}

#logo-subarea img {
  width: auto;
  height: 100%;
}

#main-anchors-subarea {
  display: none;
}

#search_cart_login-area {
  height: 100%;
  margin-right: 3vw;
}

#search_cart-subarea {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

#search_cart-subarea div {
  height: 90%;
}

#search_cart-subarea div img {
  width: auto;
  height: 100%;
}

#login-subarea {
  display: none;
}

.navbar-icon + .navbar-icon {
  margin-left: 2.5vw;
}

@media only screen and (min-width: 800px) {
  #fixed-navbar {
    display: flex;
    flex-flow: column nowrap;
    height: 6rem;
  }

  #navbar-first-row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    height: 37.5%;
    width: 100vw;
    background: var(--celcom-gradient-1);
    padding: 0 .8rem;
  }

  #top-anchors-subarea {
    margin-left: 68.34px;
  }

  #personal-business-anchors {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    padding-left: calc(2rem + 2vw);
    margin: 0;
    margin-left: 68.34px;
  }

  #personal-business-anchors li {
    padding: 0 .8rem .4rem;
    margin-bottom: -1px;
    list-style: none;
  }

  #personal-business-anchors li a {
    color: white;
    font-size: .85rem;
    font-weight: 700;
    text-decoration: none;
  }

  #top-anchor-personal {
    border-bottom: 0.4rem solid white;
  }

  #top-anchor-business:hover {
    border-bottom: 0.4rem solid var(--celcom-neutral-white);
  }

  #navbar-second-row {
    width: 100vw;
    height: 62.5%;
    padding: 0.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
  }
  
  #logo_anchors-area {
    width: auto;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 2vw;
  }
  
  #logo-subarea {
    width: auto;
    height: 100%;
  }
  
  #logo-subarea img {
    width: auto;
    height: 100%;
  }
  
  #main-anchors-subarea {
    display: block;
  }

  #main-anchors {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .main-anchor + .main-anchor {
    margin-left: 2vw;
  }

  #main-anchors li {
    list-style: none;
  }

  #main-anchors li a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
  }

  #main-anchors li a:hover {
    color: var(--celcom-blue);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
  }
  
  #search_cart_login-area {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items:stretch;
    justify-content: flex-end;
    margin-right: 3vw;
  }
  
  #search_cart-subarea {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  
  #search_cart-subarea div {
    height: 90%;
  }
  
  #search_cart-subarea div img {
    width: auto;
    height: 100%;
  }

  .navbar-icon + .navbar-icon {
    margin-left: 0;
  }

  .navbar-icon {
    margin: 0;
    margin-right: 2vw;
  }
  
  #login-subarea {
    display: flex;
    align-items: stretch;
    margin-top: -3px;
  }

  #login-anchors {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
  }

  #login-anchors li {
    list-style: none;
  }

  #login-anchors li a {
    text-decoration: none;
    color: var(--celcom-blue);
  }

  #login-anchors li a:hover {
    color: var(--celcom-secondary-gold)
  }
  
  li.login-anchor + li.login-anchor::before {
    content: " / ";
    padding: 0 .3rem;
  }

  #navbar-icon-3 {
    display: none;
  }
}

/* Hero Banner Section */
header#hero {
width: 100%;
margin-top: 3.8rem;
height: 70vh;
background: var(--celcom-gradient-1);
}

@media only screen and (min-width: 800px) {
  header#hero {
    margin-top: 6rem;
  }
}

#hero-carousel-banner {

}

/* Main Section */
#featured-highlight {
  display: none;
}

#carousel-why-celcom {
  display: none;
}

#important-announcement {
  display: none;
}

/* Footer Section */
footer#site-footer {
  width: 100vw;
  background: var(--celcom-neutral-70pct-black);
  padding: 0 5vw 0 3vw;
}

#external-links {
  min-height: 525px;
  height: 80vh;
  max-height: 535px;
  display: grid;
  grid-template-rows: repeat(22, 1fr);
}

#about_support {
  grid-row: 2 / 5;
  background-color: var(--celcom-neutral-70pct-black);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

div.anchor-mobile {
  flex: 1;
}

a.anchor-mobile div {
  background-color: var(--celcom-neutral-70pct-black);
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--celcom-neutral-40pct-black);
}

a.anchor-mobile {
  text-decoration: none;
  color: var(--celcom-neutral-white);
}

#app-socmed_mcmc {
  grid-row: 5 / 18;
  background-color: var(--celcom-neutral-40pct-black);
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

#app {
  grid-row: 1 / 5;
  background-color: var(--celcom-neutral-70pct-black);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  border-bottom: 0.1rem solid var(--celcom-neutral-40pct-black);
}

#app div {
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#app-logo_text-area {
  flex-flow: row nowrap;
}

#app-download-platforms-area {
  flex-flow: row wrap;
}

#app-logo_text-area div {
  margin: 0 0.25rem;
}

#app-logo-subarea img {
  height: 2rem;
  width: auto;
}

#app-text-subarea h2 {
  font-weight: 500;
  color: var(--celcom-neutral-white);
}

.app-platform img {
  height: 2rem;
  width: auto;
}

.app-platform + .app-platform {
  margin-left: 0.25rem;
}

#socmed_mcmc {
  grid-row: 5 / 11;
  background-color: var(--celcom-neutral-70pct-black);
  color: var(--celcom-neutral-white);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  border-bottom: 0.1rem solid var(--celcom-neutral-40pct-black);
}

.socmed-platform {
  text-decoration: none;
}

.socmed-platform + .socmed-platform {
  margin-left: 2vw;
}

#socmed-title {
  margin-bottom: 0.35rem;
}

.socmed-platform img {
  height: 1.75rem;
  width: auto;
}

.mcmc-platform img {
  height: 5rem;
  width: auto;
}

#resources-copyright {
  grid-row: 18 / 23;
  background-color: var(--celcom-neutral-70pct-black);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

#resources-anchors {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.resource-anchor {
  list-style: none;
  width: auto;
  margin: .2rem 1.1rem .1rem 0;
}

.resource-anchor a {
  text-decoration: none;
  color: var(--celcom-neutral-white);
  font-size: 1.2rem;
}

#copyright p {
  font-size: .7rem;
  color: var(--celcom-neutral-40pct-black);
  margin: .1rem 0;
}

@media only screen and (min-width: 400px) {
  footer#site-footer {
    
  }

  #external-links {
    height: 70vh;
    display: grid;
    grid-template-rows: repeat(22, 1fr);
  }

  #app {
    grid-row: 1 / 6;
  }

  #socmed_mcmc {
    grid-row: 6 / 11;
    background-color: var(--celcom-neutral-70pct-black);
    color: var(--celcom-neutral-white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid var(--celcom-neutral-40pct-black);
  }
}

@media only screen and (min-width: 700px) {
  #about_support {
    grid-row: 2 / 6;
  }

  #app-socmed_mcmc {
    grid-row: 6 / 18;
  }
}


@media only screen and (min-width: 800px) {
  footer#site-footer {
    
  }

  #external-links {
    min-height: 343px;
    height: 60vh;
    max-height: 353px;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(22, 1fr);
  }

  #about_support {
    grid-area: 2 / 1 / 11 / 11 ;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  div.anchor-mobile {
    flex: 1;
  }
  
  a.anchor-mobile div {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
  }
  
  a.anchor-mobile {
    text-decoration: none;
    color: var(--celcom-neutral-white);
  }

  #anchor-arrow {
    display: none;
  }

  #app-socmed_mcmc {
    grid-area: 2 / 12 / 11 / 23 ;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
  }

  #app {
    grid-row: 1 / 6;
    background-color: var(--celcom-neutral-70pct-black);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    border-bottom: 0;
  }
  
  #app div {
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #app-logo_text-area {
    flex-flow: row nowrap;
  }
  
  #app-download-platforms-area {
    flex-flow: row nowrap;
  }
  
  #app-logo_text-area div {
    margin: 0 0.25rem;
  }
  
  #app-logo-subarea img {
    height: 3rem;
    width: auto;
  }
  
  #app-text-subarea h2 {
    font-weight: 500;
    color: var(--celcom-neutral-white);
  }
  
  .app-platform img {
    height: 2.25rem;
    width: auto;
  }
  
  .app-platform + .app-platform {
    margin-left: 1vw;
  }

  #socmed_mcmc {
    background-color: var(--celcom-neutral-70pct-black);
    color: var(--celcom-neutral-white);
    grid-row: 6 / 11;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
  }

  #socmed {
    margin: 0 1rem 1rem 0;
  }
  
  .socmed-platform {
    text-decoration: none;
  }
  
  .socmed-platform + .socmed-platform {
    margin-left: 1vw;
  }
  
  #socmed-title {
    margin-bottom: .75rem;
  }
  
  .socmed-platform img {
    height: 1.75rem;
    width: auto;
  }
  
  .mcmc-platform img {
    height: 5rem;
    width: auto;
  }
  
  #resources-copyright {
    grid-area: 11 / 1 / 13 / 23 ;
    background-color: var(--celcom-neutral-70pct-black);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    border-top: 0.1rem solid var(--celcom-neutral-40pct-black);
  }
  
  #resources-anchors {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .resource-anchor {
    list-style: none;
    width: auto;
    margin: .1rem 0;
  }

  .resource-anchor + .resource-anchor {
    margin-left: 1.2rem;
  }
  
  .resource-anchor a {
    text-decoration: none;
    color: var(--celcom-neutral-white);
  }
  
  #copyright p {
    font-size: .8rem;
    color: var(--celcom-neutral-40pct-black);
    margin: .125rem 0 0.2rem;
  }

}

@media only screen and (min-width: 900px) {
  .app-platform img {
    height: 2.5rem;
    width: auto;
  }
  
  .mcmc-platform img {
    height: 6rem;
    width: auto;
  }
}
